<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragment/main_layout}">
<head>
<title>Customer Credit List</title>
<meta charset="UTF-8">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>

	<div layout:fragment="content" class="container mySpace">
		<div class="container my-5">
			<h3>Customer List</h3>
			<table border="1" class="table table-striped table-responsive-md">
				<thead>
					<tr>
						<th>ID</th>
						<th>TC Numarası</th>
						<th>İsim/Soyisim</th>
						<th>Kredi Tutarı</th>
						<th>Vade</th>
						<th>Araç</th>
						<th>İşlem</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="customer : ${customerInfo}">
						<td th:text="${customer.id}"></td>
						<td th:text="${customer.tcNo}"></td>
						<td th:text="${customer.ad + customer.soyad}"></td>
						<td th:text="${customer.krediTutar}"></td>
						<td th:text="${customer.vade}"></td>
						<td th:text="${customer.aracPlaka}"></td>
						<td><a href="" class="btn btn-success">İncele</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>